.image-anglo {
    width: 250px;
    position: absolute;
    top:3160px;
    margin-left: 6px;
    border: solid;
    color: aliceblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.p-anglorules-1{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: aliceblue;
    border: solid;
    color: black;
    border-radius: 10px;
    margin-left: 200px;
    position: absolute;
    top: 3500px;
    left: -186px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.p-anglorules-2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 6px;
    position: absolute;
    top: 3540px;
}

.p-anglorules-3 {
    background-color: aliceblue;
    border: solid;
    color: black;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 6px;
    position: absolute;
    top: 3690px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.p-anglorules-4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 6px;
    position: absolute;
    top: 3720px;
}

.p-anglorules-5 {
    background-color: aliceblue;
    border: solid;
    color: black;
    border-radius: 10px;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 6px;
    position: absolute;
    top: 3810px;
}

.p-anglorules-6 {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 6px;
    position: absolute;
    top: 3840px;
}

.p-anglorules-7 {
    background-color: aliceblue;
    border: solid;
    color: black;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 6px;
    position: absolute;
    top: 4060px;
}

.p-anglorules-8 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 6px;
    line-height: 1.6;
    position: absolute;
    top: 4100px;
}

.p-anglorules-9 {
    background-color: aliceblue;
    border: solid;
    color: black;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 6px;
    position: absolute;
    top: 4340px;
}

.p-anglorules-10 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 6px;
    position: absolute;
    top: 4370px;
}

.p-anglorules-11 {
    background-color: aliceblue;
    border: solid;
    color: black;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 6px;
    position: absolute;
    top: 4710px;

}

.p-anglorules-12 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 6px;
    position: absolute;
    top: 4750px;
}